:root {
    --color-dark: #305E8E;
    --color-dark-x: #041E40;
    --color-dark-xx: #0B0F0D;
    --color-light: #ffffff;
    --color-light-x: #BCD7F5;
    --color-grey: #f5f6f8;
}

.bg-nav {
    background-color: var(--color-dark-xx)!important;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.bg-light {
    background-color: var(--color-grey)!important;
}

.bg-dark {
    background-color: var(--color-dark-xx)!important;
}

.p-6 {
    padding: 5rem 5rem;
}

.contact-box {
    padding: 3rem;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: var(--color-dark);
    border: none;
    min-width: 10rem;
}

th {
    background-color: var(--color-dark-x);
    border: 1px solid var(--color-dark);
    color: var(--color-light-x);
    text-align: center;
    padding: 1rem 5rem;
}

td {
    background-color: var(--color-grey);
    border: 1px solid var(--color-dark);
    color: var(--color-dark-xx);
    padding: 1rem 1rem;
}

.form-control {
    background-color: var(--color-dark-x);
    border: 2px solid var(--color-dark-x);
    color: var(--color-light-x);
    border-radius: .2rem;
    padding: .7rem 1rem;
}


.link{
    color: var(--color-light-x);
    text-decoration: underline;
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

.open-button {
    background-color:var(--color-dark);
    color: white;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    min-width: 10rem;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
    max-width: 500px;
    padding: 3rem;
    border: 1px solid var(--color-dark);
    background-color: var(--color-dark)!important;
  }

  .form-btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: var(--color-dark-x);
    border: none;
    min-width: 10rem;
}
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
